In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns
from datetime import datetime
sns.set_theme(style="darkgrid")

# Importation

In [3]:
dataset_list = [
    'olist_order_reviews_dataset.csv.zip',
    'olist_customers_dataset.csv.zip',
    'olist_geolocation_dataset.csv.zip',
    'olist_order_items_dataset.csv.zip',
    'olist_order_payments_dataset.csv.zip'  ,
    'olist_orders_dataset.csv.zip',
    'olist_products_dataset.csv.zip',
    'olist_sellers_dataset.csv',
    'product_category_name_translation.csv'
]

data_name_list = [
    'order_reviews',
    'customers',
    'geolocalisation',
    'order_items',
    'order_payments',
    'orders',
    'products',
    'sellers',
    'translation'
]

data =   {key : pd.read_csv(path) for key,path in zip(data_name_list, dataset_list)}

In [5]:
order = data['order_items'].groupby('order_id')['price'].sum().to_frame().reset_index()
order.head()

                           order_id   price
0  00010242fe8c5a6d1ba2dd792cb16214   58.90
1  00018f77f2f0320c557190d7a144bdd3  239.90
2  000229ec398224ef6ca0657da4fc703e  199.00
3  00024acbcdf0a6daa1e931b038114c75   12.99
4  00042b26cf59d7ce69dfabb4e55b4fd9  199.90

In [6]:
order_2 = order.merge(data['orders'], on ='order_id',how='left')[['order_id',
                                                       'price',
                                                       'customer_id',
                                                       'order_delivered_customer_date',
       ]]

# Prix = prix + fret

In [20]:
data['order_items']

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14
...,...,...,...,...,...,...,...
112645,fffc94f6ce00a00581880bf54a75a037,1,4aa6014eceb682077f9dc4bffebc05b0,b8bc237ba3788b23da09c0f1f3a3288c,2018-05-02 04:11:01,299.99,43.41
112646,fffcd46ef2263f404302a634eb57f7eb,1,32e07fd915822b0765e448c4dd74c828,f3c38ab652836d21de61fb8314b69182,2018-07-20 04:31:48,350.00,36.53
112647,fffce4705a9662cd70adb13d4a31832d,1,72a30483855e2eafc67aee5dc2560482,c3cfdc648177fdbbbb35635a37472c53,2017-10-30 17:14:25,99.90,16.95
112648,fffe18544ffabc95dfada21779c9644f,1,9c422a519119dcad7575db5af1ba540e,2b3e4a2a3ea8e01938cabda2a3e5cc79,2017-08-21 00:04:32,55.99,8.72
112649,fffe41c64501cc87c801fd61db3f6244,1,350688d9dc1e75ff97be326363655e01,f7ccf836d21b2fb1de37564105216cc1,2018-06-12 17:10:13,43.00,12.79

In [22]:
order_3 = order_2.merge(data['customers'][['customer_id','customer_unique_id']],on='customer_id',how='left')
order_3.head()

,order_id,price,customer_id,order_delivered_customer_date,customer_unique_id
0,00010242fe8c5a6d1ba2dd792cb16214,58.90,3ce436f183e68e07877b285a838db11a,2017-09-20 23:43:48,871766c5855e863f6eccc05f988b23cb
1,00018f77f2f0320c557190d7a144bdd3,239.90,f6dd3ec061db4e3987629fe6b26e5cce,2017-05-12 16:04:24,eb28e67c4c0b83846050ddfb8a35d051
2,000229ec398224ef6ca0657da4fc703e,199.00,6489ae5e4333f3693df5ad4372dab6d3,2018-01-22 13:19:16,3818d81c6709e39d06b2738a8d3a2474
3,00024acbcdf0a6daa1e931b038114c75,12.99,d4eb9395c8c0431ee92fce09860c5a06,2018-08-14 13:32:39,af861d436cfc08b2c2ddefd0ba074622
4,00042b26cf59d7ce69dfabb4e55b4fd9,199.90,58dbd0b2d70206bf40e62cd34e84d795,2017-03-01 16:42:31,64b576fb70d441e8f1b2d7d446e483c5

In [21]:
review_2 =  data['order_reviews'].groupby('order_id')['review_score'].mean().to_frame().reset_index()
review_2.head()

                           order_id  review_score
0  00010242fe8c5a6d1ba2dd792cb16214           5.0
1  00018f77f2f0320c557190d7a144bdd3           4.0
2  000229ec398224ef6ca0657da4fc703e           5.0
3  00024acbcdf0a6daa1e931b038114c75           4.0
4  00042b26cf59d7ce69dfabb4e55b4fd9           5.0

In [9]:
order_4 = order_3.merge(review_2,on='order_id', how='left')
order_4.head()

,order_id,price,customer_id,order_delivered_customer_date,customer_unique_id,review_score
0,00010242fe8c5a6d1ba2dd792cb16214,58.90,3ce436f183e68e07877b285a838db11a,2017-09-20 23:43:48,871766c5855e863f6eccc05f988b23cb,5.0
1,00018f77f2f0320c557190d7a144bdd3,239.90,f6dd3ec061db4e3987629fe6b26e5cce,2017-05-12 16:04:24,eb28e67c4c0b83846050ddfb8a35d051,4.0
2,000229ec398224ef6ca0657da4fc703e,199.00,6489ae5e4333f3693df5ad4372dab6d3,2018-01-22 13:19:16,3818d81c6709e39d06b2738a8d3a2474,5.0
3,00024acbcdf0a6daa1e931b038114c75,12.99,d4eb9395c8c0431ee92fce09860c5a06,2018-08-14 13:32:39,af861d436cfc08b2c2ddefd0ba074622,4.0
4,00042b26cf59d7ce69dfabb4e55b4fd9,199.90,58dbd0b2d70206bf40e62cd34e84d795,2017-03-01 16:42:31,64b576fb70d441e8f1b2d7d446e483c5,5.0

# RFM

In [ ]:
order_delivered_customer_date

In [13]:
order_4['order_delivered_customer_date'] = pd.to_datetime(order_4['order_delivered_customer_date']).astype('datetime64[D]')

order_4['nb_days'] = (datetime.now() - order_4['order_delivered_customer_date']).astype('timedelta64[D]')

In [16]:
order_4

,order_id,price,customer_id,order_delivered_customer_date,customer_unique_id,review_score,nb_days
0,00010242fe8c5a6d1ba2dd792cb16214,58.90,3ce436f183e68e07877b285a838db11a,2017-09-20,871766c5855e863f6eccc05f988b23cb,5.0,2051.0
1,00018f77f2f0320c557190d7a144bdd3,239.90,f6dd3ec061db4e3987629fe6b26e5cce,2017-05-12,eb28e67c4c0b83846050ddfb8a35d051,4.0,2182.0
2,000229ec398224ef6ca0657da4fc703e,199.00,6489ae5e4333f3693df5ad4372dab6d3,2018-01-22,3818d81c6709e39d06b2738a8d3a2474,5.0,1927.0
3,00024acbcdf0a6daa1e931b038114c75,12.99,d4eb9395c8c0431ee92fce09860c5a06,2018-08-14,af861d436cfc08b2c2ddefd0ba074622,4.0,1723.0
4,00042b26cf59d7ce69dfabb4e55b4fd9,199.90,58dbd0b2d70206bf40e62cd34e84d795,2017-03-01,64b576fb70d441e8f1b2d7d446e483c5,5.0,2254.0
...,...,...,...,...,...,...,...
98661,fffc94f6ce00a00581880bf54a75a037,299.99,b51593916b4b8e0d6f66f2ae24f2673d,2018-05-10,0c9aeda10a71f369396d0c04dce13a64,5.0,1819.0
98662,fffcd46ef2263f404302a634eb57f7eb,350.00,84c5d4fbaf120aae381fad077416eaa0,2018-07-23,0da9fe112eae0c74d3ba1fe16de0988b,5.0,1745.0
98663,fffce4705a9662cd70adb13d4a31832d,99.90,29309aa813182aaddc9b259e31b870e6,2017-10-28,cd79b407828f02fdbba457111c38e4c4,5.0,2013.0
98664,fffe18544ffabc95dfada21779c9644f,55.99,b5e6afd5a41800fdf401e0272ca74655,2017-08-16,eb803377c9315b564bdedad672039306,5.0,2086.0
98665,fffe41c64501cc87c801fd61db3f6244,43.00,96d649da0cc4ff33bb408b199d4c7dcf,2018-06-14,cd76a00d8e3ca5e6ab9ed9ecb6667ac4,5.0,1784.0

In [25]:
rfm = order_4.groupby('customer_unique_id').agg({'nb_days' : np.min, 
                                      'order_delivered_customer_date' : len,
                                      'price' : np.sum,
                                        'review_score'  : np.mean    
                                     }).reset_index()

rfm = rfm.rename(columns={'nb_days' : 'r', # récence
            'order_delivered_customer_date' : 'f', # fréquence
            'price' : 'm' }) # montant
rfm

                     customer_unique_id       r  f        m  review_score
0      0000366f3b9a7992bf8c76cfdf3221e2  1813.0  1   129.90           5.0
1      0000b849f77a49e4a4ce2b2a4ca5be3f  1819.0  1    18.90           4.0
2      0000f46a3911fa3c0805444483337064  2219.0  1    69.00           3.0
3      0000f6ccb0745a6a4b88665a16c9f078  2009.0  1    25.99           4.0
4      0004aac84e0df4da2b147fca70cf8255  1983.0  1   180.00           5.0
...                                 ...     ... ..      ...           ...
95415  fffcf5a5ff07b0908bd4e2dbc735a684  2127.0  1  1570.00           5.0
95416  fffea47cd6d3cc0a88bd621562a9d061  1940.0  1    64.89           4.0
95417  ffff371b4d645b6ecea244b27531430a  2261.0  1    89.90           5.0
95418  ffff5962728ec6157033ef9805bacc48  1815.0  1   115.00           5.0
95419  ffffd2657e2aad2907e67c3e9daecbeb  2184.0  1    56.99           5.0

[95420 rows x 5 columns]

In [26]:
rfm.isna().mean()

customer_unique_id    0.000000
r                     0.021631
f                     0.000000
m                     0.000000
review_score          0.007326
dtype: float64

# Imputation mode ?

In [31]:
imputation_mode = rfm.mode()
rfm = rfm.fillna(imputation_mode)

In [34]:
rfm

                     customer_unique_id       r  f        m  review_score
0      0000366f3b9a7992bf8c76cfdf3221e2  1813.0  1   129.90           5.0
1      0000b849f77a49e4a4ce2b2a4ca5be3f  1819.0  1    18.90           4.0
2      0000f46a3911fa3c0805444483337064  2219.0  1    69.00           3.0
3      0000f6ccb0745a6a4b88665a16c9f078  2009.0  1    25.99           4.0
4      0004aac84e0df4da2b147fca70cf8255  1983.0  1   180.00           5.0
...                                 ...     ... ..      ...           ...
95415  fffcf5a5ff07b0908bd4e2dbc735a684  2127.0  1  1570.00           5.0
95416  fffea47cd6d3cc0a88bd621562a9d061  1940.0  1    64.89           4.0
95417  ffff371b4d645b6ecea244b27531430a  2261.0  1    89.90           5.0
95418  ffff5962728ec6157033ef9805bacc48  1815.0  1   115.00           5.0
95419  ffffd2657e2aad2907e67c3e9daecbeb  2184.0  1    56.99           5.0

[95420 rows x 5 columns]

In [33]:
# Score par quantile
rfm['rq'] = pd.cut(rfm.r,bins=np.quantile(rfm.r, q = [0,0.33,0.66,1]),labels=['2','1','0'])#.astype('str')

rfm['fq'] = pd.cut(rfm.f, bins= [0,1,2,100], labels=['0','1','2'])#.astype('str')

rfm['mq'] = pd.cut(rfm.m,bins=np.quantile(rfm.m, q = [0,0.33,0.66,1]),labels=['0','1','2'])#.astype('str')

#rfm =  rfm.dropna()

rfm[['rq','fq','mq']] =  rfm[['rq','fq','mq']].astype('str')

# rfm['rq'] = rfm['rq'].astype('str')
# rfm['fq'] = rfm['fq'].astype('str')
# rfm['mq'] = rfm['mq'].astype('str')


# Score composite
rfm['score'] = rfm['rq'] + rfm['fq'] + rfm['mq']

rfm

ValueError: Bin edges must be unique: array([nan, nan, nan, nan]).
You can drop duplicate edges by setting the 'duplicates' kwarg